.options {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.sauce,
.dough {
    display: block;
    /*align-items: center;*/
    margin-bottom: 5px;
}
.sauce input,
.dough input {
    margin-right: 10px;
    margin-left: auto;
}