.options {  
    display: flex;
    flex-direction: column;
    width: 30%;
}

.sauces,
.doughs {
    display: block;
    /*align-items: center;*/
    margin-bottom: 5px;
}
.sauces input,
.doughs input {
    margin-right: 10px;
    margin-left: auto;
}
#sauce {
    
    margin-bottom: 5px;
}